<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>functions</title>
</head>
<body>
{{/*Use uc function map with .Name*/}}
{{range .Wisdom}}
    {{uc .Name}}
{{end}}
{{/*Use ft function map with .Name*/}}
{{range .Wisdom}}
    {{ft .Name}}
{{end}}
</body>
</html>
